WSReferences/WSUser/Ext/WSDefinition.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="WSUser"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="WSUser"
		name="WSUser"
		targetNamespace="WSUser">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
				xmlns:xs1="WSUser"
				targetNamespace="WSUser"
				elementFormDefault="qualified">
			<xs:element name="LoginUser">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="login"
								type="xs:string"/>
						<xs:element name="pass"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LoginUserResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateUser">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="login"
								type="xs:string"/>
						<xs:element name="pass"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateUserResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="LoginUserRequestMessage">
		<part name="parameters"
				element="tns:LoginUser"/>
	</message>
	<message name="LoginUserResponseMessage">
		<part name="parameters"
				element="tns:LoginUserResponse"/>
	</message>
	<message name="CreateUserRequestMessage">
		<part name="parameters"
				element="tns:CreateUser"/>
	</message>
	<message name="CreateUserResponseMessage">
		<part name="parameters"
				element="tns:CreateUserResponse"/>
	</message>
	<portType name="WSUserPortType">
		<operation name="LoginUser">
			<input name="LoginUserRequest"
					message="tns:LoginUserRequestMessage"/>
			<output name="LoginUserResponse"
					message="tns:LoginUserResponseMessage"/>
		</operation>
		<operation name="CreateUser">
			<input name="CreateUserRequest"
					message="tns:CreateUserRequestMessage"/>
			<output name="CreateUserResponse"
					message="tns:CreateUserResponseMessage"/>
		</operation>
	</portType>
	<binding name="WSUserSoapBinding"
			type="tns:WSUserPortType">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="LoginUser">
			<soapbind:operation style="document"
					soapAction="WSUser#WSUser:LoginUser"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="CreateUser">
			<soapbind:operation style="document"
					soapAction="WSUser#WSUser:CreateUser"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="WSUserSoap12Binding"
			type="tns:WSUserPortType">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="LoginUser">
			<soap12bind:operation style="document"
					soapAction="WSUser#WSUser:LoginUser"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="CreateUser">
			<soap12bind:operation style="document"
					soapAction="WSUser#WSUser:CreateUser"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="WSUser">
		<port name="WSUserSoap"
				binding="tns:WSUserSoapBinding">
			<documentation> 
				<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
						conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soapbind:address location="http://195.189.137.51/Kosnet-ekt/ws/WSUser"/>
		</port>
		<port name="WSUserSoap12"
				binding="tns:WSUserSoap12Binding">
			<soap12bind:address location="http://195.189.137.51/Kosnet-ekt/ws/WSUser"/>
		</port>
	</service>
</definitions>